@model Turbo_Wheels.Models.User

@{
    ViewBag.Title = "Register";
    Layout = null;
}

<link href="~/Content/font-awesome.min.css" rel="stylesheet" />
<style>
    .register-card {
        max-width: 480px;
        width: 100%;
    }
</style>

@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/jqueryui")

<div class="d-flex justify-content-center align-items-center vh-100 bg-light px-3">
    <div class="d-flex bg-white rounded shadow register-card">
        <div class="p-4 w-100">
            <h2 class="text-center mb-4">Register</h2>

            @using (Html.BeginForm("Register", "Home", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="mb-3">
                    @Html.LabelFor(m => m.Username)
                    @Html.EditorFor(m => m.Username, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
                </div>

                <div class="mb-3">
                    @Html.LabelFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>

                <div class="mb-3">
                    @Html.LabelFor(m => m.FirstName)
                    @Html.EditorFor(m => m.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
                </div>

                <div class="mb-3">
                    @Html.LabelFor(m => m.LastName)
                    @Html.EditorFor(m => m.LastName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
                </div>

                <div class="mb-3">
                    @Html.LabelFor(m => m.Email)
                    @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>

                <div class="mb-3">
                    @Html.LabelFor(m => m.Address)
                    @Html.EditorFor(m => m.Address, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(m => m.Address, "", new { @class = "text-danger" })
                </div>

                <div class="mb-3">
                    @Html.LabelFor(m => m.Phone)
                    @Html.EditorFor(m => m.Phone, new { htmlAttributes = new { @class = "form-control", pattern = @"^[+\d\s\-()]{7,20}$" } })
                    @Html.ValidationMessageFor(m => m.Phone, "", new { @class = "text-danger" })
                </div>

                <div class="d-flex justify-content-end gap-2 mt-3">
                    <a href="@Url.Action("Login", "Home")" class="btn btn-secondary">Back</a>
                    <button type="submit" class="btn btn-success">Register</button>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
