@model Turbo_Wheels.Models.Reservation

@{
    ViewBag.Title = "Details";
}

<div class="container">
    <h2>Details</h2>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Name and surname
        </dt>

        <dd>
            @(Model.user.firstName + " " + Model.user.lastName)
        </dd>

        <dt>
            Vehicle
            <br />
        </dt>
        <dd>
            <img src="@Url.Content("~/images/vehicle_images/"+Model.vehicle.imageURL)" width="450" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pickupDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pickupDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pickupPlace)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pickupPlace)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.returnDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.returnDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.returnPlace)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.returnPlace)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.totalPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.totalPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreditCardOwner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreditCardOwner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreditCardNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreditCardNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreditCardExpireDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreditCardExpireDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CVC2_CVV2_Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CVC2_CVV2_Number)
        </dd>

    </dl>

    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>

    <hr style="border-width: 5px" />

</div>
