@{
    var isAdmin = bool.Parse(Request.Cookies["isAdmin"].Value);
    var namesurname = Request.Cookies["namesurname"].Value;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryui")
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <style>
        .dropbtn {
            background-color: #4CAF50;
            color: white;
            padding: 16px;
            font-size: 16px;
            border: none;
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        .dropdown-content a:hover {
            background-color: #ddd;
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .dropdown:hover .dropbtn {
            background-color: #3e8e41;
        }
    </style>
</head>

<body>
    @if (isAdmin == true)
    {
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top justify-content-center">
            <a class="navbar-brand" href="~/Home/Index"><img src="~/images/logo.png" /> TURBO WHEELS &reg;</a>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="~/Users/Index">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="~/Vehicles/Index">Vehicles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="~/Reservations/Index">Reservations</a>
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                        <button class="btn btn-secondary">Hello @Request.Cookies["namesurname"].Value</button>
                        <div class="dropdown-content">
                            <a href="~/Home/Login">Log out</a>
                        </div>
                    </div>
                </li>
            </ul>
        </nav>
    }
    @if (isAdmin == false)
    {
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top justify-content-center">
            <a class="navbar-brand" href="~/Home/Index"><img src="~/images/logo.png" /> TURBO WHEELS &reg;</a>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="~/Home/Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="~/Home/About">About Us</a>
                </li>
            </ul>
        </nav>
    }

    <div>
        @RenderBody()
        <div class="container">
            <div class="row">
                <div class="col-5" style="padding-right: 10px">
                    <div style="font-size: 24px">
                        TURBO WHEELS Rent A Car
                        <hr />
                    </div>
                    <i class="fa fa-phone"></i>
                    <a href="tel:+389-23-796-496">+389 2 3796 496</a> - Skopje Airport
                    <br />
                    <i class="fa fa-phone"></i>
                    <a href="tel:+389-23-197-773">+389 2 3197 773</a> - Karposh 2 Office
                    <br />
                    <i class="fa fa-phone"></i>
                    <a href="tel:+389-22-110-740">+389 2 2110 740</a> - Kisela Voda Office
                    <br />
                    <i class="fa fa-phone"></i>
                    <a href="tel:+389-70-527-345">+389 70 527 345</a> - 24/7 Call Service
                    <br />
                    <i class="fa fa-phone"></i>
                    <a href="tel:+389-77-653-258">+389 77 653 258</a> - Turbo Wheels CEO
                    <br />
                    <i class="fa fa-envelope"></i>
                    <a href="mailto:rentacar@turbowheels.com.mk">rentacar@turbowheels.com.mk</a>
                </div>
                <div class="col-3" style="padding-right: 10px">
                    <div style="font-size: 24px">
                        Site Links
                        <hr />
                    </div>
                    @if (isAdmin == true)
                    {
                        <span>&gt;</span> <a href="~/Users/Index">Users</a> <br />
                        <span>&gt;</span> <a href="~/Vehicles/Index">Vehicles</a> <br />
                        <span>&gt;</span> <a href="~/Reservations/Index">Reservations</a> <br />
                    }
                    @if (isAdmin == false)
                    {
                        <span>&gt;</span> <a href="~/Home/Index">Home</a> <br />
                        <span>&gt;</span> <a href="~/Home/About">About Us</a> <br />
                    }
                </div>
                <div class="col-4">
                    <div style="width: 100%"><iframe width="100%" height="230" src="https://maps.google.com/maps?width=100%&amp;height=230&amp;hl=en&amp;q=Airport%20Skopje+(TurboWheels)&amp;ie=UTF8&amp;t=&amp;z=10&amp;iwloc=A&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a href="https://www.maps.ie/create-google-map/">Google Maps iframe generator</a></iframe></div><br />
                </div>
            </div>
        </div>
        <hr />
        <footer style="text-align: center">
            <p>TURBO WHEELS &copy; @DateTime.Now.Year</p>
        </footer>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
